
XListView2.iml
.gradle/2.14.1/taskArtifacts/fileHashes.bin
.gradle/2.14.1/taskArtifacts/cache.properties.lock
.idea/compiler.xml
*.bin
.idea/libraries/support_annotations_22_2_0.xml
.idea/modules.xml
*.iml
.idea/gradle.xml
.idea/libraries/support_v4_22_2_0.xml
.idea/qaplug_profiles.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/misc.xml
build/generated/mockable-android-22.jar
local.properties
.gradle/2.14.1/taskArtifacts/cache.properties
.idea/compiler.xml
.idea/libraries/appcompat_v7_22_2_0.xml
.idea/runConfigurations.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/encodings.xml
*.lock
build/intermediates/dex-cache/cache.xml
gradle/wrapper/gradle-wrapper.properties
.idea/vcs.xml
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties
